<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GeradorFolhaPontoTabajara.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <GeradorFolhaPontoTabajara.Properties.Settings>
            <setting name="pathEntrada" serializeAs="String">
                <value>D:\Temp\GPPT</value>
            </setting>
            <setting name="pathSaida" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="atrasoMinimo" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="atrasoMaximo" serializeAs="String">
                <value>10</value>
            </setting>
        </GeradorFolhaPontoTabajara.Properties.Settings>
    </userSettings>
</configuration>